/* CSS DOC */
@import url(
  https://fonts.googleapis.com/css?family=Source+Code+Pro:200,
  300,
  400,
  500,
  600,
  700,
  900
);

/* selecting */
h1 {
    /* how to style */
    font-weight: 200;
    text-transform: uppercase;
    border-top: 5px solid;
}

body {
    background-color: #f69680;
    color: #2e1263;
    font-weight: 200;
}

img {
    height: 500px;
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;